.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  border: 0;
  background: #f9f9f9;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-left: 15px;
}

.form__input[type="password"] {
  color: #FF3055;
}
