.portfolio__link-image {
 width: 29px;
 height: 60px;
 background-image: url(../../../images/link.svg);
 background-repeat: no-repeat;
 background-position: center;
}

@media screen and (max-width: 320px) {
  .portfolio__link-image {
    width: 18px;
    height: 28px;
    background-image: url(../../../images/link-small.svg);
   }
}
