.header-main__button {
  min-width: 129px;
  min-height: 36px;
  margin-top: 146px;
  margin-bottom: 25px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: #073042;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
