.techs__subtitle {
  display: block;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 100px;
  max-width: 460px;
  text-align: center;
}
